@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* h1 h2 etc */

	a {
		@apply text-sky-700 hover:text-sky-900;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: revert;
		font-weight: revert;
	}
}

@layer components {
}

@layer utilities {
	.bg-gray-100 {
		background-color: rgb(237 239 241 / var(--tw-bg-opacity));
	}
	.bg-gray-50 {
		background-color: #f2f3f4;
	}
	.user-select-none {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}

	.min-h-64 {
		min-height: 16rem;
	}

	.line-height-125 {
		line-height: 1.25rem;
	}

	.line-height-150 {
		line-height: 1.5rem;
	}

	.line-height-175 {
		line-height: 1.75rem;
	}

	.line-height-200 {
		line-height: 2rem;
	}

	.line-height-225 {
		line-height: 2.25rem;
	}

	.max-w-12 {
		max-width: 11rem;
	}

	.max-w-14 {
		max-width: 14rem;
	}
	@media (min-width: 1280px) {
		.max-w-12 {
			max-width: 13rem;
		}
		.max-w-14 {
			max-width: 16rem;
		}
	}
	@media (min-width: 1536px) {
		.max-w-12 {
			max-width: 15rem;
		}
		.max-w-14 {
			max-width: 18rem;
		}
	}
}

/* width */
::-webkit-scrollbar {
	@apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gray-400 rounded-xl border-gray-200 border-2 border-solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-500;
}

.font-sans {
	font-family: "DM Sans", Arial, "Segoe UI", sans-serif;
}

.font-serif {
	font-family: "Merriweather", "Times New Roman", Georgia, serif;
}

.font-mono {
	font-family: "Source Code Pro", "Consolas", monospace;
	@apply tracking-tight;
}

body {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(237, 239, 241, 1) 0%,
		rgba(237, 239, 241, 1) 40%,
		rgba(229, 231, 235, 1) 100%
	);
	@apply font-sans min-h-screen;
}

code {
	font-family: "Source Code Pro", "Consolas", monospace;
	@apply tracking-tight;
}

.container {
	margin: 0 auto;
}

.w-transition {
	transition-property: width, opacity;
	transition: 0.5s ease-out;
}
.w-sidebar {
	width: 100%;
}
@media (min-width: 1024px) {
	.lg\:w-sidebar {
		width: 28rem;
	}
}
.infotrig {
	position: relative;
}

.infomsg {
	@apply opacity-0 hidden absolute max-w-6xl bg-slate-500 text-white rounded px-1.5 py-0.5 text-xs font-medium;
}

.infotrig:hover .infomsg {
	@apply opacity-100 block w-auto h-auto;
}

@media (max-width: 640px) {
	.container {
		max-width: 100%;
	}
}

.ab-btn {
	@apply bg-sky-600 font-medium text-white shadow rounded py-1.5 px-4 hover:bg-sky-500 hover:text-white hover:shadow-md;
}

.ab-btn-secondary {
	@apply bg-gray-500 hover:bg-gray-700 text-white;
}

.ab-btn-sm {
	@apply px-2.5 py-1.5 text-sm;
}

.ab-btn-xs {
	@apply px-2.5 py-1.5 text-xs;
}

.ab-btn-big {
	@apply py-3 font-bold text-base rounded-md;
}

.ab-btn-long {
	@apply px-4;
}

.ab-btn:disabled {
	@apply opacity-50;
}

.ab-btn:disabled:hover {
	@apply bg-sky-600;
}

.ab-btn-outline {
	@apply border-2 border-slate-200 text-slate-600 font-medium border-solid px-4 py-1.5 rounded-full hover:bg-slate-100 hover:border-slate-300;
}

.ab-form-input {
	@apply appearance-none border-2 border-gray-200 rounded-md px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:shadow-lg focus:border-gray-100;
}

.ab-checkbox {
	@apply accent-sky-500 text-white;
}

.line-height-0 {
	line-height: 0;
}

/*
  * Sidebar
*/

.notelist .sidebar-note-menu button {
	letter-spacing: 0.25px;
}

.notelist > div:nth-child(1) .sidebar-note-menu {
	top: 2rem;
	bottom: auto;
	right: 0;
	transform-origin: top right;
}

.sidebar-note-menu[aria-expanded="true"] {
	@apply scale-100;
}
.sidebar-note-menu[aria-expanded="false"] {
	@apply scale-0;
}

.sidebar-make-note-popup {
	border-radius: 0.125rem;
	@apply transition-all duration-300 h-7 w-7 absolute top-0 right-6 border-2 border-solid border-black border-opacity-10 hover:bg-blue-600 hover:border-solid flex items-center justify-center;
}
.sidebar-make-note-popup[aria-selected="true"] {
	border-radius: 50%;
	background: rgb(197, 46, 46);
	@apply hover:bg-[rgb(226,56,56)] border-solid border-black border-opacity-20 top-[1.6rem] right-4;
}
.sidebar-make-note-popup[aria-selected="false"] {
	border-radius: 0.125rem;
	@apply top-0 right-6 bg-transparent border-transparent hover:bg-blue-500;
}
.sidebar-make-note-popup span {
	filter: invert(1);
	@apply duration-200 transition-all;
}
.sidebar-make-note-popup[aria-selected="false"]:hover span {
	filter: invert(1);
}
.sidebar-make-note-popup[aria-selected="false"] span {
	filter: invert(0);
	@apply rotate-45;
}
.sidebar-make-note-popup[aria-selected="true"] span {
	filter: invert(1);
	@apply rotate-0;
}

.sidebar-notelist-item {
	@apply flex relative text-gray-600 px-6 transition-all;
}
.sidebar-notelist-item:hover {
	@apply bg-gray-200;
}
.sidebar-notelist-item[aria-current="true"] {
	@apply pl-6 py-2 border-l-8 border-blue-400 bg-blue-100 bg-opacity-70;
}
.sidebar-notelist-item[aria-current="false"] {
	@apply pl-6;
}
.active-badge {
	transition-property: width;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	@apply duration-1000 w-0 overflow-hidden inline-block text-[0.7rem] align-middle font-medium;
}
.sidebar-notelist-item[aria-current="true"] .active-badge {
	@apply w-auto mr-2 bg-blue-200 text-blue-900 rounded-md px-1;
}
.sidebar-notelist-item[aria-current="false"] .active-badge {
	@apply w-0;
}

/*
  * Link Share
*/
.ab-link-share-row:hover .ab-link-share-delete {
	display: block;
}
.share-sidebar {
	transition: opacity 0.2s ease;
}
.share-sidebar[aria-expanded="true"] {
	@apply opacity-100 z-40;
}
.share-sidebar[aria-expanded="false"] {
	@apply opacity-0 z-0;
}
.share-sidebar > div {
	@apply transition-all duration-300;
}
.share-sidebar[aria-expanded="true"] > div {
	@apply 2xl:w-[34rem] lg:w-[28rem] max-w-[80%];
}
.share-sidebar[aria-expanded="false"] > div {
	@apply w-0;
}

/*
  * Editor
*/

.ab-toolbar {
	@apply w-full max-w-6xl mx-auto;
}

.editor {
	position: relative;
	font-family: "Roboto";
	@apply mt-8;
}

.editor > div[role="textbox"] {
	@apply max-w-4xl mb-10 lg:mb-16 px-6 py-4 sm:px-8 sm:py-6 sm:pb-36 lg:px-16 lg:py-12 lg:pb-48 xl:px-20 xl:py-16 xl:pb-64 sm:rounded-md shadow-sm bg-white mx-auto min-h-[calc(100vh-7rem)];
}

.editor a[data-slate-node] {
	@apply text-sky-700 border-b border-solid border-sky-700 hover:text-blue-700 font-medium;
}

.editor code {
	font-size: 0.94rem;
	font-family: "Source Code Pro", "Consolas", monospace;
	@apply bg-slate-900 text-blue-300 tracking-tight bg-opacity-70 rounded-sm px-1 font-medium;
}

/*
 * Ordered and Unoredered lists
*/
.editor-ul {
	@apply list-disc;
}
.editor-ol {
	@apply list-decimal;
}

.editor-ul,
.editor-ol {
	@apply ml-4 pb-1;
}

.editor > div[role="textbox"] > .editor-ul,
.editor > div[role="textbox"] > .editor-ol {
	@apply ml-8 my-2.5;
}

.editor-ul > .editor-li,
.editor-ol > .editor-li {
	@apply my-2 pl-2;
}

.editor-ol .editor-ol {
	list-style: lower-alpha;
}
.editor-ol .editor-ol .editor-ol {
	list-style: lower-roman;
}

.editor-ul .editor-ul {
	list-style: circle;
}
.editor-ul .editor-ul .editor-ul {
	list-style: square;
}

/*
 * Block Elements
*/

.editor-h1 {
	@apply mt-5 mb-5 text-4xl font-serif;
}

.editor-h2 {
	@apply mt-4 mb-4 text-[1.55rem] leading-7 font-serif;
}

.editor-h3 {
	@apply mt-3 mb-1.5 text-[1.25rem] leading-7 font-serif;
}

.editor-h4 {
	@apply mt-2.5 mb-1.5 text-[0.97rem] leading-6 font-serif;
}

.editor-h2 + .editor-h3,
.editor-h2 + .editor-h4 {
	@apply mt-4;
}

.editor-h3 + .editor-h4 {
	@apply mt-4;
}
.editor-highlight {
	@apply bg-yellow-100;
}

.editor-p {
	@apply block my-2 text-gray-900;
}

.editor-p,
li {
	line-height: 1.45rem;
	font-size: 0.97rem;
}

.editor-p > span {
	display: inline;
}

.editor-p + .editor-p {
	@apply mt-2;
}

.editor-codeblock {
	@apply bg-gray-100 bg-opacity-90 py-0.5 text-gray-700 font-medium text-sm px-2.5 font-mono border-l-2 border-gray-300 border-solid;
}

.editor-quote {
	@apply border-l-2 border-gray-300 text-gray-600 px-4 my-2 font-normal italic;
}

.editor-codeblock + .editor-quote,
.editor-p + .editor-quote,
.editor-h1 + .editor-quote,
.editor-h2 + .editor-quote,
.editor-h3 + .editor-quote,
.editor-h4 + .editor-quote {
	@apply mt-3.5;
}

.editor-codeblock + .editor-p {
	margin-top: 1.125rem;
}

.editor-quote + .editor-codeblock,
.editor-h1 + .editor-codeblock,
.editor-h2 + .editor-codeblock,
.editor-h3 + .editor-codeblock,
.editor-h4 + .editor-codeblock,
.editor-p + .editor-codeblock {
	@apply pt-0.5;
}

.editor-codeblock + .editor-h2,
.editor-codeblock + .editor-h1,
.editor-codeblock + .editor-h3,
.editor-codeblock + .editor-h4 {
	@apply mt-8;
}

.editor-p + .editor-h2,
.editor-p + .editor-h1 {
	@apply mt-6;
}

.editor-p + .editor-h3 {
	@apply mt-6;
}

.editor-p + .editor-h4 {
	@apply mt-2.5;
}

.editor-h1 + .editor-p,
.editor-h2 + .editor-p {
	@apply mt-3;
}

.editor-h3 + .editor-p {
	@apply mt-2.5;
}

.editor-h4 + .editor-p {
	@apply mt-2;
}
.editor-quote + .editor-codeblock {
	@apply mt-3;
}

.editor-h1 + .editor-codeblock,
.editor-h2 + .editor-codeblock,
.editor-h3 + .editor-codeblock,
.editor-h4 + .editor-codeblock {
	@apply mt-4;
}

.editor-h1 + .editor-ul,
.editor-h2 + .editor-ul,
.editor-h3 + .editor-ul,
.editor-h1 + .editor-ol,
.editor-h2 + .editor-ol,
.editor-h3 + .editor-ol {
	@apply mt-3;
}

.editor-h4 + .editor-ul,
.editor-h4 + .editor-ol {
	@apply mt-2.5;
}

/*
  * Loading Spinner
*/

.lds-ripple {
	display: inline-block;
	position: fixed;
	width: 80px;
	height: 80px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.lds-ripple div {
	position: absolute;
	border: 5px solid;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	@apply border-sky-900;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.anim-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.anim-ripple div {
	position: absolute;
	border: 4px solid;
	opacity: 1;
	border-radius: 50%;
	animation: anim-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	@apply border-sky-900;
}
.anim-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes anim-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.shadow-smb {
	box-shadow: 0px 2px 5px -2px rgb(0 0 0 / 20%);
}
