@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 h2 etc */

  a {
    @apply text-sky-700 hover:text-sky-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }

  h1 {
    @apply mt-5 mb-2;
  }

  h2 {
    @apply mt-5 mb-2;
  }

  h3 {
    @apply mt-5 mb-2 text-xl;
  }

  h4 {
    @apply mt-4 mb-2 text-lg;
  }

  p {
    @apply mt-2 mb-2.5 text-base;
  }

  code {
    @apply bg-gray-300 bg-opacity-70 rounded px-1;
  }
}

@layer components {
}

@layer utilities {
  .user-select-none {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

body {
  font-family: "Roboto", Helvetica, Arial, "Segoe UI", sans-serif;
  @apply bg-slate-200 min-h-screen;
}

.container {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

.ab-btn {
  @apply bg-sky-600 text-white shadow rounded py-1.5 px-4 hover:bg-sky-500 hover:text-white hover:shadow-md;
}

.ab-btn-secondary {
  @apply bg-slate-600 hover:bg-slate-500;
}

.ab-btn-sm {
  @apply px-2.5 py-1.5 text-sm;
}

.ab-btn-big {
  @apply py-3 font-bold text-base rounded-md;
}

.ab-btn-long {
  @apply px-4;
}

.ab-btn:disabled {
  @apply opacity-50;
}

.ab-btn:disabled:hover {
  @apply bg-sky-600;
}

.ab-btn-outline {
  @apply border-2 border-slate-200 text-slate-600 font-medium border-solid px-4 py-1.5 rounded-full hover:bg-slate-100 hover:border-slate-300;
}

.ab-form-input {
  @apply appearance-none border-2 border-gray-200 rounded-md px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:shadow-lg focus:border-gray-100;
}

.ab-checkbox {
  @apply accent-sky-500 text-white;
}

.editor {
  position: relative;
  @apply mt-12;
}

.editor > div[role="textbox"] {
  @apply max-w-4xl rounded-none px-6 py-4 sm:px-8 sm:py-6 lg:px-16 lg:py-12 xl:px-20 xl:py-16 my-8 sm:rounded-md shadow-sm bg-white mx-auto min-h-[calc(100vh-7rem)];
}

.editor a {
  @apply underline text-sky-700 hover:text-blue-700;
}

.ab-toolbar {
  @apply w-full max-w-4xl mx-auto;
}

.line-height-0 {
  line-height: 0;
}

/*
   * Icons
  */

.ic {
  height: 1rem;
  width: 1rem;
  filter: invert(1);
  display: inline-block;
  vertical-align: middle;
}

.ic-black {
  filter: none;
}

.ic-opacity-50 {
  filter: opacity(0.5);
}

.ic-md {
  height: 1.25rem;
  width: 1.25rem;
}

.ic-lg {
  height: 1.75rem;
  width: 1.75rem;
}

.ic-logout {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkgNDIuM3EtMS40IDAtMi40MjUtMS4wMjVUNS41NSAzOC45VjkuMXEwLTEuNCAxLjAyNS0yLjRUOSA1LjdoMTQuNnYzLjRIOXYyOS44aDE0LjZ2My40Wm0yNC4zLTkuMS0yLjQ1LTIuNDUgNS4wNS01LjA1SDE4LjZ2LTMuNGgxNy4ybC01LjA1LTUuMDUgMi40NS0yLjQ1IDkuMjUgOS4yNVoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-login {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTI0LjQgNDIuM3YtMy40SDM5VjkuMUgyNC40VjUuN0gzOXExLjQgMCAyLjQyNSAxdDEuMDI1IDIuNHYyOS44cTAgMS4zNS0xLjAyNSAyLjM3NVQzOSA0Mi4zWm0tNC4xLTkuMS0yLjQ1LTIuNDUgNS4wNS01LjA1SDUuNTV2LTMuNEgyMi44bC01LjA1LTUuMDUgMi40NS0yLjQ1IDkuMiA5LjI1WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-open-in-new {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuNDUgNDMuMjVxLTEuOTUgMC0zLjMyNS0xLjM3NVE0Ljc1IDQwLjUgNC43NSAzOC41NVY5LjQ1cTAtMS45NSAxLjM3NS0zLjM1UTcuNSA0LjcgOS40NSA0LjdoMTMuNXY0Ljc1SDkuNDV2MjkuMWgyOS4xdi0xMy41aDQuNzV2MTMuNXEwIDEuOTUtMS40IDMuMzI1LTEuNCAxLjM3NS0zLjM1IDEuMzc1Wm0xMC44LTEyLjJMMTcgMjcuNzVsMTguMy0xOC4zaC05LjM1VjQuN0g0My4zdjE3LjM1aC00Ljc1di05LjNaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-close {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0ibTEyLjQ1IDM3LjY1LTIuMS0yLjFMMjEuOSAyNCAxMC4zNSAxMi40NWwyLjEtMi4xTDI0IDIxLjlsMTEuNTUtMTEuNTUgMi4xIDIuMUwyNi4xIDI0bDExLjU1IDExLjU1LTIuMSAyLjFMMjQgMjYuMVoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-done {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTE4LjkgMzYuOSA2LjUgMjQuNWwzLjQtMy40IDkgOSAxOS4xNS0xOS4xNSAzLjQgMy40WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-delete {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEyLjY1IDQzLjI1cS0yIDAtMy4zNzUtMS4zNVQ3LjkgMzguNTVWMTAuOUg1VjYuMmgxMS41NVYzLjhIMzEuNHYyLjRINDN2NC43aC0yLjl2MjcuNjVxMCAxLjk1LTEuNCAzLjMyNS0xLjQgMS4zNzUtMy4zNSAxLjM3NVptMjIuNy0zMi4zNWgtMjIuN3YyNy42NWgyMi43Wk0xNy43IDM0LjY1aDMuODVWMTQuN0gxNy43Wm04Ljc1IDBoMy45VjE0LjdoLTMuOVpNMTIuNjUgMTAuOXYyNy42NVoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-h1 {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTguMyAzNS4xVjEyLjk1SDEzdjguN2g3LjN2LTguN0gyNVYzNS4xaC00Ljd2LTguNzVIMTN2OC43NVptMjYuNyAwVjE3LjY1aC00di00LjdoOC43NVYzNS4xWiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-h2 {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTQuNzUgMzUuMVYxMi45aDQuN3Y4Ljc1aDYuODVWMTIuOUgyMXYyMi4yaC00Ljd2LTguNzVIOS40NXY4Ljc1Wm0yMi4yNSAwdi04Ljc1cTAtMS45NSAxLjM3NS0zLjMyNSAxLjM3NS0xLjM3NSAzLjM3NS0xLjM3NWg2Ljh2LTRIMjdWMTIuOWgxMS41NXEyIDAgMy4zNzUgMS4zNzVUNDMuMyAxNy42NXY0cTAgMS45NS0xLjM3NSAzLjMyNS0xLjM3NSAxLjM3NS0zLjM3NSAxLjM3NWgtNi44djRINDMuM3Y0Ljc1WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-h3 {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTQuNzUgMzUuMVYxMi45aDQuN3Y4Ljc1aDYuODVWMTIuOUgyMXYyMi4yaC00Ljd2LTguNzVIOS40NXY4Ljc1Wm0yMi4yNSAwdi00Ljc1aDExLjU1di00SDMxdi00LjdoNy41NXYtNEgyN1YxMi45aDExLjU1cTIgMCAzLjM3NSAxLjM3NVQ0My4zIDE3LjY1djEyLjdxMCAyLTEuMzc1IDMuMzc1VDM4LjU1IDM1LjFaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-h4 {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTQuNzUgMzUuMVYxMi45NWg0Ljd2OC43aDYuODV2LTguN0gyMVYzNS4xaC00Ljd2LTguNzVIOS40NXY4Ljc1Wm0zMS44IDB2LTYuNzVIMjd2LTE1LjRoNC43NXYxMC43aDQuOHYtMTAuN2g0Ljc1djEwLjdoNHY0LjdoLTR2Ni43NVoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-paragraph {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTE3LjU1IDQwLjg1VjI3LjhoLTFxLTQuMDUtLjMtNi43NzUtMy4yNVE3LjA1IDIxLjYgNy4wNSAxNy41cTAtNC4zIDMuMDI1LTcuMzI1UTEzLjEgNy4xNSAxNy40IDcuMTVIMzd2NC43aC00LjV2MjloLTQuNzV2LTI5aC01LjV2MjlaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-b {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEyLjE1IDM3Ljg1VjcuM0gyNi43cTMuNjUgMCA2LjMyNSAyLjQgMi42NzUgMi40IDIuNjc1IDYgMCAxLjk1LTEgMy42NXQtMi43NSAyLjVWMjJxMi4yLjggMy40NSAyLjc3NSAxLjI1IDEuOTc1IDEuMjUgNC4zNzUgMCAzLjc1LTIuODc1IDYuMjI1UTMwLjkgMzcuODUgMjcuMDUgMzcuODVabTYuMTUtMTguMWg3LjM1cTEuNTUgMCAyLjY1LTEuMDc1IDEuMS0xLjA3NSAxLjEtMi42MjV0LTEuMS0yLjYyNXEtMS4xLTEuMDc1LTIuNjUtMS4wNzVIMTguM1ptMCAxM2g3Ljc1cTEuNyAwIDIuOTI1LTEuMTUgMS4yMjUtMS4xNSAxLjIyNS0yLjg1IDAtMS43LTEuMjI1LTIuODc1VDI2LjA1IDI0LjdIMTguM1oiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-i {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuNDUgNDEuMTV2LTYuN2g2Ljg1bDguMi0yMC45aC03Ljc1di02LjdoMjEuOHY2LjdIMzEuN2wtOC4xNSAyMC45aDcuNzV2Ni43WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-u {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuMTUgNDMuNHYtNC43aDI5Ljd2NC43Wk0yNCAzNC4zcS01LjQgMC05LjEyNS0zLjctMy43MjUtMy43LTMuNzI1LTkuMDV2LTE3aDUuN3YxNy4xcTAgMi45NSAyLjA1IDQuOTI1IDIuMDUgMS45NzUgNS4xIDEuOTc1dDUuMS0xLjk3NXEyLjA1LTEuOTc1IDIuMDUtNC45MjVWNC41NWg1Ljd2MTdxMCA1LjM1LTMuNzI1IDkuMDVRMjkuNCAzNC4zIDI0IDM0LjNaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-inline-code {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTI4LjUgNDAuODV2LTQuN2g0LjY1cTEuMjUgMCAyLjEyNS0uODc1dC44NzUtMi4xMjVWMjkuNXEwLTEuODUgMS4xLTMuMyAxLjEtMS40NSAyLjktMnYtLjRxLTEuOC0uNS0yLjktMS45NzUtMS4xLTEuNDc1LTEuMS0zLjMyNXYtMy42NXEwLTEuMjUtLjg3NS0yLjEyNXQtMi4xMjUtLjg3NUgyOC41di00LjdoNnEyLjcgMCA0LjUyNSAxLjg1IDEuODI1IDEuODUgMS44MjUgNC41djMuNjVxMCAxLjI1Ljg3NSAyLjEyNXQyLjEyNS44NzVoMXY3LjdoLTFxLTEuMjUgMC0yLjEyNS44NzV0LS44NzUgMi4xMjV2My42NXEwIDIuNjUtMS44NSA0LjV0LTQuNSAxLjg1Wm0tMTUgMHEtMi42NSAwLTQuNS0xLjg1dC0xLjg1LTQuNXYtMy42NXEwLTEuMjUtLjg3NS0yLjEyNVQ0LjE1IDI3Ljg1aC0xdi03LjdoMXExLjI1IDAgMi4xMjUtLjg3NXQuODc1LTIuMTI1VjEzLjVRNy4xNSAxMC44NSA5IDl0NC41LTEuODVoNnY0LjdoLTQuNjVxLTEuMjUgMC0yLjEyNS44NzV0LS44NzUgMi4xMjV2My42NXEwIDEuODUtMS4xIDMuMzI1VDcuODUgMjMuOHYuNHExLjguNTUgMi45IDIgMS4xIDEuNDUgMS4xIDMuM3YzLjY1cTAgMS4yNS44NzUgMi4xMjV0Mi4xMjUuODc1aDQuNjV2NC43WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-code {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTE1LjQ1IDM3LjEgMi4yIDIzLjlsMTMuMzUtMTMuMzUgMy40IDMuMzVMOSAyMy44NWw5Ljg1IDkuODVabTE3IC4xNUwyOS4xIDMzLjlsOS45NS05Ljk1LTkuODUtOS44NSAzLjM1LTMuNEw0NS44IDIzLjlaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-link {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTIxLjk1IDM1LjI1SDE0cS00LjcgMC03Ljk3NS0zLjI3NVEyLjc1IDI4LjcgMi43NSAyNHEwLTQuNyAzLjI3NS04VDE0IDEyLjdoNy45NXY0Ljc1SDE0cS0yLjc1IDAtNC42NSAxLjktMS45IDEuOS0xLjkgNC42NSAwIDIuNzUgMS45IDQuNjUgMS45IDEuOSA0LjY1IDEuOWg3Ljk1Wk0xNS40IDI1Ljh2LTMuNmgxNy4ydjMuNlptMTAuNjUgOS40NXYtNC43SDM0cTIuNzUgMCA0LjY1LTEuOSAxLjktMS45IDEuOS00LjY1IDAtMi43NS0xLjktNC42NS0xLjktMS45LTQuNjUtMS45aC03Ljk1VjEyLjdIMzRxNC43IDAgOCAzLjN0My4zIDhxMCA0LjctMy4zIDcuOTc1LTMuMyAzLjI3NS04IDMuMjc1WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-cloud-done {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0ibTIwLjQgMzQuMSAxMS45NS0xMS45NS0yLjQtMi4zNS05LjQ1IDkuNDUtNS4wNS01LjA1LTIuNCAyLjQ1Wm0tNy43NSA3LjE1cS00Ljg1IDAtOC4zMjUtMy40US44NSAzNC40NS44NSAyOS41NXEwLTQuMiAyLjU1LTcuNTI1VDEwLjA1IDE4cTEuMi01IDUuMS04LjEyNSAzLjktMy4xMjUgOC45NS0zLjEyNSA1LjggMCA5LjkgNC4xMjVRMzguMSAxNSAzOC41IDIwLjg1djEuMnEzLjc1LjM1IDYuMiAzLjAyNXQyLjQ1IDYuNTc1cTAgNC0yLjggNi44dC02LjggMi44Wm0wLTQuN2gyNC44cTIgMCAzLjUtMS40NzV0MS41LTMuNTI1cTAtMi4wNS0xLjUtMy41MjV0LTMuNS0xLjQ3NWgtMy42VjIxLjhxMC00LjM1LTIuODc1LTcuMzI1UTI4LjEgMTEuNSAyMy45IDExLjVxLTQuMjUgMC03LjEyNSAzLjE3NVQxMy45IDIyLjM1aC0xLjRxLTIuOSAwLTQuOTI1IDIuMDVUNS41NSAyOS40NXEwIDIuOTUgMi4wNzUgNS4wMjV0NS4wMjUgMi4wNzVaTTI0IDI0WiIvPjwvc3ZnPg==);
  background-size: contain;
}

.ic-cloud-fail {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0ibTQxLjQ1IDQ2LjYtNS45LTUuOUgxMi40cS00Ljg1IDAtOC4yLTMuM1EuODUgMzQuMS44NSAyOS4yNXEwLTQuMTUgMi42MjUtNy4ydDYuNTc1LTMuN3EwLS40NS4xMjUtMS4yNzV0LjQ3NS0xLjMyNUwyLjQgNy41bDIuNTUtMi40NUw0NCA0NC4xWk0xMi40IDM2aDE4LjU1TDE0LjggMTkuODVxLS41LjU1LS42NSAxLjMyNS0uMTUuNzc1LS4xNSAxLjQ3NWgtMS42cS0yLjg1IDAtNC44NSAxLjgyNS0yIDEuODI1LTIgNC42NzUgMCAyLjg1IDIgNC44NSAyIDIgNC44NSAyWm0xMC40LTguMTVabTIwLjcgMTEtMy41NS0zLjZxMS4yLS44NSAxLjg1LTEuNzUuNjUtLjkuNjUtMi4yNSAwLTEuOS0xLjQtMy4yNzV0LTMuMy0xLjM3NWgtMy45VjIycTAtNC4xNS0yLjg3NS02Ljk3NVEyOC4xIDEyLjIgMjMuOTUgMTIuMnEtMS40NSAwLTIuOTI1LjQ3NVExOS41NSAxMy4xNSAxOC4zNSAxNEwxNSAxMC42NXExLjgtMS41NSA0LjItMi4zNSAyLjQtLjggNC43LS44IDUuNzUgMCA5Ljk3NSA0dDQuNjI1IDkuN3YxLjA1cTMuNy40IDYuMTc1IDIuOSAyLjQ3NSAyLjUgMi40NzUgNi4yIDAgMi0uOTc1IDQuMnQtMi42NzUgMy4zWk0yOS4yIDI0LjZaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-cloud {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEyLjY1IDQxLjI1cS00Ljg1IDAtOC4zMjUtMy40US44NSAzNC40NS44NSAyOS41NXEwLTQuMiAyLjU1LTcuNTI1VDEwLjA1IDE4cTEuMi01IDUuMS04LjEyNSAzLjktMy4xMjUgOC45NS0zLjEyNSA1LjggMCA5LjkgNC4xMjVRMzguMSAxNSAzOC41IDIwLjg1djEuMnEzLjc1LjM1IDYuMiAzLjAyNXQyLjQ1IDYuNTc1cTAgNC0yLjggNi44dC02LjggMi44Wm0wLTQuN2gyNC44cTIgMCAzLjUtMS40NzV0MS41LTMuNTI1cTAtMi4wNS0xLjUtMy41MjV0LTMuNS0xLjQ3NWgtMy42VjIxLjhxMC00LjMtMi44NzUtNy4zdC03LjA3NS0zcS00LjI1IDAtNy4xMjUgMy4xNzVUMTMuOSAyMi4zNWgtMS40cS0yLjkgMC00LjkyNSAyLjA1VDUuNTUgMjkuNDVxMCAyLjk1IDIuMDc1IDUuMDI1dDUuMDI1IDIuMDc1Wk0yNCAyNFoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-ul {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTcuNjUgMzkuODVxLTEuNCAwLTIuMzc1LS45NzVRNC4zIDM3LjkgNC4zIDM2LjU1cTAtMS40Ljk3NS0yLjR0Mi40MjUtMXExLjM1IDAgMi4zMjUgMSAuOTc1IDEgLjk3NSAyLjR0LS45NzUgMi4zNXEtLjk3NS45NS0yLjM3NS45NVptOC4zNS0xdi00LjdoMjcuNzV2NC43Wm0tOC4zNS0xMS41cS0xLjQgMC0yLjM3NS0uOTc1UTQuMyAyNS40IDQuMyAyNHQuOTc1LTIuMzc1cS45NzUtLjk3NSAyLjQyNS0uOTc1IDEuMzUgMCAyLjMyNSAxUTExIDIyLjY1IDExIDI0dC0uOTc1IDIuMzVxLS45NzUgMS0yLjM3NSAxWm04LjM1LTF2LTQuN2gyNy43NXY0LjdabS04LjM1LTExLjVxLTEuNDUgMC0yLjQtLjk3NVQ0LjMgMTEuNXEwLTEuNC45NzUtMi4zNzUuOTc1LS45NzUgMi4zNzUtLjk3NXQyLjM3NS45NzVRMTEgMTAuMSAxMSAxMS41dC0uOTc1IDIuMzc1cS0uOTc1Ljk3NS0yLjM3NS45NzVabTguMzUtMXYtNC43aDI3Ljc1djQuN1oiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-ol {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTUuNSA0MHYtMS43aDQuMlYzN0g3LjZ2LTEuN2gyLjFWMzRINS41di0xLjdIMTJWNDBabTEwLjE1LTEuNnYtNC43aDI3LjN2NC43Wk01LjA1IDI3Ljg1di0xLjZsMy4zLTMuODVoLTMuM3YtMi4yNUgxMnYxLjZMOC42NSAyNS42SDEydjIuMjVabTEwLjYtMS42di00LjdoMjcuM3Y0LjdaTTcuNiAxNS44di01LjU1SDUuNVY4aDQuNHY3LjhabTguMDUtMS43VjkuNGgyNy4zdjQuN1oiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-text-size {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEzLjM1IDQxLjE1VjEzSDIuODVWNi44NUgzMFYxM0gxOS41djI4LjE1Wm0xOS4xNSAwdi0xN0gyNlYxOGgxOS4xNXY2LjE1aC02LjV2MTdaIi8+PC9zdmc+);
  background-size: contain;
}

.ic-add-photo {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTI4LjA1IDQuN3Y0Ljc1SDkuMjV2MjkuMWgyOS4xdi0xOC44aDQuN3YxOC44cTAgMS45NS0xLjQgMy4zMjUtMS40IDEuMzc1LTMuMyAxLjM3NUg5LjI1cS0xLjk1IDAtMy4zNS0xLjM3NVE0LjUgNDAuNSA0LjUgMzguNTVWOS40NXEwLTEuOTUgMS40LTMuMzUgMS40LTEuNCAzLjM1LTEuNFptMTAuOS0uNDV2NC42aDQuNnYzLjZoLTQuNnY0LjY1SDM1LjR2LTQuNmgtNC42NVY4LjloNC42VjQuMjVaTTExLjggMzMuOWgyNGwtNy4yLTkuNi02LjM1IDguMzUtNC43LTYuMlpNOS4yNSA5LjQ1djI5LjEtMjkuMVoiLz48L3N2Zz4=);
  background-size: contain;
}

.ic-edit {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuMzUgMzkuMDVoMS42TDMyLjcgMTcuMmwtMS42LTEuNkw5LjM1IDM3LjQ1Wm0zMC41LTIzLjk1LTYuNi02LjYgMS4wNS0xLjFxMS40LTEuNCAzLjMyNS0xLjQyNVEzOS41NSA1Ljk1IDQwLjk1IDcuM2wuOS45cTEuMTUgMS4xIDEuMDI1IDIuNTUtLjEyNSAxLjQ1LTEuMTI1IDIuNDVabS0yLjA1IDIuMDVMMTIuMzUgNDIuNmgtNi42VjM2bDI1LjQtMjUuNFptLTUuODUtLjc1LS44NS0uOCAxLjYgMS42WiIvPjwvc3ZnPg==);
  background-size: contain;
}
