@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* h1 h2 etc */

	a {
		@apply text-sky-700 hover:text-sky-900;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: revert;
		font-weight: revert;
	}
}

@layer components {
}

@layer utilities {
	.bg-gray-100 {
		background-color: rgb(237 239 241 / var(--tw-bg-opacity));
	}
	.bg-gray-50 {
		background-color: #f2f3f4;
	}
	.user-select-none {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}

	.min-h-64 {
		min-height: 16rem;
	}

	.line-height-125 {
		line-height: 1.25rem;
	}

	.line-height-150 {
		line-height: 1.5rem;
	}

	.line-height-175 {
		line-height: 1.75rem;
	}

	.line-height-200 {
		line-height: 2rem;
	}

	.line-height-225 {
		line-height: 2.25rem;
	}

	.max-w-12 {
		max-width: 11rem;
	}

	.max-w-14 {
		max-width: 14rem;
	}
	@media (min-width: 1280px) {
		.max-w-12 {
			max-width: 13rem;
		}
		.max-w-14 {
			max-width: 16rem;
		}
	}
	@media (min-width: 1536px) {
		.max-w-12 {
			max-width: 15rem;
		}
		.max-w-14 {
			max-width: 18rem;
		}
	}
}

/* width */
::-webkit-scrollbar {
	@apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gray-400 rounded-xl border-gray-200 border-2 border-solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-500;
}

.font-mono {
	font-family: "Source Code Pro", "Consolas", monospace;
	@apply tracking-tight;
}

body {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(237, 239, 241, 1) 0%,
		rgba(237, 239, 241, 1) 40%,
		rgba(229, 231, 235, 1) 100%
	);
	@apply font-sans min-h-screen;
}

code {
	font-family: "Source Code Pro", "Consolas", monospace;
	@apply tracking-tight;
}

.container {
	margin: 0 auto;
}
.infotrig {
	position: relative;
}

.infomsg {
	@apply opacity-0 hidden absolute max-w-6xl bg-slate-500 text-white rounded px-1.5 py-0.5 text-xs font-medium;
}

.infotrig:hover .infomsg {
	@apply opacity-100 block w-auto h-auto;
}

@media (max-width: 640px) {
	.container {
		max-width: 100%;
	}
}

.ab-btn {
	@apply bg-sky-600 font-medium text-white shadow rounded py-1.5 px-4 hover:bg-sky-500 hover:text-white hover:shadow-md;
}

.ab-btn-secondary {
	@apply bg-gray-500 hover:bg-gray-700 text-white;
}

.ab-btn-sm {
	@apply px-2.5 py-1.5 text-sm;
}

.ab-btn-xs {
	@apply px-2.5 py-1.5 text-xs;
}

.ab-btn-big {
	@apply py-3 font-bold text-base rounded-md;
}

.ab-btn-long {
	@apply px-4;
}

.ab-btn:disabled {
	@apply opacity-50;
}

.ab-btn:disabled:hover {
	@apply bg-sky-600;
}

.ab-btn-outline {
	@apply border-2 border-slate-200 text-slate-600 font-medium border-solid px-4 py-1.5 rounded-full hover:bg-slate-100 hover:border-slate-300;
}

.ab-form-input {
	@apply appearance-none border-2 border-gray-200 rounded-md px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:shadow-lg focus:border-gray-100;
}

.ab-checkbox {
	@apply accent-sky-500 text-white;
}

.line-height-0 {
	line-height: 0;
}

/*
  * Sidebar
*/

/* Trigger */
.sidebar-hide-able {
	transition-property: width, opacity;
	transition: 0.5s ease-out;
	@apply fixed left-0 top-0 bottom-0 right-10 z-50;
	@apply lg:relative w-[90%] max-w-[28rem];
	@apply lg:w-[18rem] xl:w-[21rem] 2xl:w-[23rem];
}
.sidebar-hide-able[aria-hidden="false"] {
	@apply opacity-100;
	@apply lg:min-w-[18rem] xl:min-w-[21rem] 2xl:min-w-[23rem];
}
.sidebar-hide-able[aria-hidden="false"]:after {
	content: "";
	@apply fixed bg-black/30 inset-0 -z-10 lg:hidden;
}
.sidebar-hide-able[aria-hidden="true"] {
	@apply w-0 opacity-0;
	@apply lg:min-w-0 xl:min-w-0 2xl:min-w-0;
}
.sidebar-expand-btn {
	@apply aspect-square lg:aspect-auto rounded-bl-md lg:rounded-bl-none w-10 h-10 lg:w-auto lg:h-10 flex justify-center place-items-center;
	@apply lg:hover:bg-gray-500 transition-all lg:pl-0.5 lg:pr-1.5 shadow-md lg:border-t lg:border-r lg:border-b lg:rounded-r-md lg:border-solid lg:border-gray-300;
}
.sidebar-expand-btn:hover {
	@apply lg:pl-1.5;
}
.sidebar-expand-btn[aria-expanded="true"] {
	@apply bg-slate-800 w-12 h-12 lg:w-auto lg:h-10 lg:bg-gray-400;
}
.sidebar-expand-btn[aria-expanded="true"] span.ic {
	@apply rotate-180;
}
.sidebar-expand-btn[aria-expanded="false"] {
	@apply bg-slate-700 lg:bg-gray-600;
}
.sidebar-expand-btn[aria-expanded="false"] span.ic {
	@apply rotate-0;
}

.mobile-sidebar-toggle {
	@apply rounded shadow m-1;
	@apply h-10 w-10 aspect-square flex place-items-center justify-center bg-gray-900;
	@apply transition-all duration-300;
}
.mobile-sidebar-toggle[aria-expanded="true"] {
	@apply h-12 w-12 m-2 rounded-full;
}
.hamburger-wrapper {
	@apply transition-all ease-out duration-300;
	@apply rounded-sm w-4 h-4 flex flex-col justify-between cursor-pointer;
}
.mobile-sidebar-toggle[aria-expanded="true"] .hamburger-wrapper {
	@apply w-5 h-5;
}
.hamburger-line {
	@apply bg-white rounded-sm w-full h-0.5;
}
.hamburger-line.half {
	width: 50%;
}
.hamburger-line.first {
	transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
	transform-origin: right;
}
.hamburger-line.last {
	align-self: flex-end;
	transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
	transform-origin: left;
}
.mobile-sidebar-toggle[aria-expanded="true"] .hamburger-wrapper {
	transform: rotate(-45deg);
}
.mobile-sidebar-toggle[aria-expanded="true"] .hamburger-line.first {
	transform: rotate(-90deg) translateX(1px);
}
.mobile-sidebar-toggle[aria-expanded="true"] .hamburger-line.last {
	transform: rotate(-90deg) translateX(-1px);
}

.notelist .sidebar-note-menu button {
	letter-spacing: 0.25px;
}

.notelist > div:nth-child(1) .sidebar-note-menu {
	top: 2rem;
	bottom: auto;
	right: 0;
	transform-origin: top right;
}

/* note list - note item menu button - three dots */
.sidebar-note-menu[aria-hidden="false"] {
	@apply scale-100 z-20;
}
.sidebar-note-menu[aria-hidden="true"] {
	@apply scale-0;
}

.sidebar-make-note-popup {
	@apply transition-all duration-300 h-8 w-8 absolute top-0 right-6;
	@apply hover:bg-primary-600 rounded-md bg-white;
	@apply hover:border-solid flex items-center justify-center;
}
.sidebar-make-note-popup[aria-selected="true"] {
	@apply bg-black/30 top-12 right-4 shadow hover:bg-black/80;
}
.sidebar-make-note-popup span {
	filter: invert(1);
	@apply duration-200 transition-all;
}
.sidebar-make-note-popup[aria-selected="false"]:hover span {
	filter: invert(1);
}
.sidebar-make-note-popup[aria-selected="false"] span {
	filter: invert(0);
	@apply rotate-45;
}
.sidebar-make-note-popup[aria-selected="true"] span {
	filter: invert(1);
	@apply rotate-0;
}

.sidebar-notelist-item {
	@apply flex relative text-gray-600 px-6 transition-all;
	@apply hover:bg-slate-200;
}
.sidebar-notelist-item[aria-current="true"] {
	@apply pl-6 py-2 border-l-8 border-primary-400 bg-primary-100;
}
.sidebar-notelist-item[aria-current="false"] {
	@apply pl-6;
}
.active-badge {
	transition-property: width;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	@apply duration-1000 w-0 overflow-hidden inline-block text-[0.7rem] align-middle font-medium;
}
.sidebar-notelist-item[aria-current="true"] .active-badge {
	@apply w-auto mr-2 bg-primary-200 text-primary-900 rounded-md px-1;
}
.sidebar-notelist-item[aria-current="false"] .active-badge {
	@apply w-0;
}

/*
  * Link Share
*/
.ab-link-share-row:hover .ab-link-share-delete {
	display: block;
}
.share-sidebar {
	@apply fixed right-0 top-0 bottom-0 z-50 transition-opacity;
}
.share-sidebar[aria-expanded="true"] {
	@apply opacity-100;
}
.share-sidebar[aria-expanded="false"] {
	@apply opacity-70;
}
.share-sidebar > .share-sidebar-content {
	@apply fixed right-0 z-10 bg-white shadow-md h-full w-full;
	@apply transition-all duration-500;
	@apply max-w-[34rem] w-[80%];
	@apply 2xl:w-[34rem] lg:w-[28rem];
}
.share-sidebar[aria-expanded="true"] > .share-sidebar-content {
	@apply right-0;
}
.share-sidebar[aria-expanded="false"] > .share-sidebar-content {
	@apply -right-[80%] 2xl:-right-[34rem] lg:-right-[28rem] transition-all duration-500;
}

/*
  * Loading Spinner
*/

.lds-ripple {
	display: inline-block;
	position: fixed;
	width: 80px;
	height: 80px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.lds-ripple div {
	position: absolute;
	border: 5px solid;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	@apply border-sky-900;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.anim-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.anim-ripple div {
	position: absolute;
	border: 4px solid;
	opacity: 1;
	border-radius: 50%;
	animation: anim-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	@apply border-sky-900;
}
.anim-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes anim-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.shadow-smb {
	box-shadow: 0px 2px 5px -2px rgb(0 0 0 / 20%);
}

/*
 * Spinner
 */
.spinner {
	--loader-size: 35px;
	--loader-border-size: 3px;
	--loader-border-color: white;
	width: var(--loader-size);
	height: var(--loader-size);
	border: var(--loader-border-size) solid var(--loader-border-color);
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	position: relative;
	animation: rotateX 1s infinite linear;
	display: inline-block;
}

.spinner::before {
	content: "";
	border: var(--loader-border-size) solid var(--loader-border-color);
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	animation: rotateX 0.5s infinite linear reverse;
}
.spinner-xl {
	--loader-size: 80px;
	--loader-border-size: 6px;
}
.spinner-sm {
	--loader-size: 25px;
	--loader-border-size: 2px;
}
.spinner-xs {
	--loader-size: 14px;
	--loader-border-size: 2px;
}
.spinner-md {
	--loader-size: 50px;
	--loader-border-size: 4px;
}
.spinner-lg {
	--loader-size: 60px;
	--loader-border-size: 5px;
}
.spinner-primary {
	--loader-border-color: #1457e1;
}
.spinner-danger {
	--loader-border-color: #e53e3e;
}
.spinner-white {
	--loader-border-color: white;
}
.spinner-black {
	--loader-border-color: black;
}
.spinner-gray {
	--loader-border-color: rgb(103, 103, 103);
}

@keyframes rotateX {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
